body{
    background-color: #F9F6F2;
}
.hero{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: hidden;
}
.hero-bg{
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-color: red;
}
.hero-content{
    position: relative;
    z-index: 2;
}
.hero h1{
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 2px;
}
.hero p{
    font-size: 1.2rem;
    bottom: 20px;
}