body {
    background-color: #F9F6F2;
    margin: 0;

}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-bg {
    width: 100%;
    background-size: cover;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;

    /*background-color: red;*/
}

.hero-content {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.hero-content p {
    font-size: 2rem;
    bottom: 20px;
}
.float-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4B7BEC;
    color: azure;
    border: none;
    border-radius: 50px;
    padding: 15px 20px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    z-index: 10; 

}