body {
    background-color: #F9F6F2;
    margin: 0;
    height: 3000px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-bg {
    width: 100%;
    background-size: cover;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;

    /*background-color: red;*/
}

.hero-content {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.hero-content p {
    font-size: 2rem;
    bottom: 20px;
}

.float-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4B7BEC;
    color: azure;
    border: none;
    border-radius: 50px;
    padding: 15px 20px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    z-index: 10;

}

/* modal */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.modal-content {
    background: #2d447a;
    border-radius: 20px;
    padding: 30px;
    max-width: 700px;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* cards */
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}
.gesture-card{
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    width: 200px;
    background: #f9f4ecf5;
}
.gesture-card img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;

}